.world__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.world__container-button {
  width: 90%;
  display: flex;
  margin-top: 20px;
}

.world__container-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.world__container-graph {
  margin-top: 25px;
  display: flex;
  width: 85%;
  height: 500px;
}
.world__container-cards > div {
  background-color: white;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: default;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.world__cards-number {
  font-size: 25px;
}
.world__button {
  background-color: white;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  flex: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #dcdcdc;
  border-radius: 40px;
}

@media only screen and (max-width: 900px) {
  .world__container-cards > div {
    width: 48%;
    margin: 0px 0px 15px 0px;
  }
}
